$main-color:  #212282;
$dark-color:  #000;
$light-color:  #fff;
/* const nav*/
$nav-heigh:  200px;
$nav-font-size:  9px;
$nav-color:#414196;
/*
@font-face {
  font-family: "EBGaramond";
  src: local("EBGaramond"),
   url('../fonts/EBGaramond-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa"),
   url('../fonts/Comfortaa-Regular.ttf') format("truetype");
}
*/
